/activation.jar
/aopalliance.jar
/appengine-agent.jar
/appengine-agentimpl.jar
/appengine-api-1.0-sdk-1.3.6.jar
/appengine-api-labs-1.3.6.jar
/appengine-jsr107cache-1.3.6.jar
/asm-3.2.jar
/cglib.jar
/cobogwave-gadget-1.1.2.jar
/colt.jar
/commons-codec-1.4-javadoc.jar
/commons-codec-1.4-src.jar
/commons-codec-1.4.jar
/datanucleus-appengine-1.0.7.final.jar
/datanucleus-core-1.1.5.jar
/datanucleus-jpa-1.1.5.jar
/easymock.jar
/easymockclassextension.jar
/geronimo-jpa_3.0_spec-1.1.1.jar
/geronimo-jta_1.1_spec-1.1.1.jar
/gin-0-r117.jar
/gin-1.0-src.zip
/gin-1.0.jar
/gson-1.4.jar
/guice-2.0.jar
/guice-assistedinject-2.0.jar
/guice-jmx-2.0.jar
/guice-jndi-2.0.jar
/guice-multibindings-2.0.jar
/guice-servlet-2.0.jar
/guice-spring-2.0.jar
/guice-struts2-plugin-2.0.jar
/guice-throwingproviders-2.0.jar
/gwt-gadgets-javadoc.jar
/gwt-gadgets.jar
/gwt-log-3.0.1.jar
/gwt-servlet.jar
/gwt-visualization-javadoc.jar
/gwt-visualization.jar
/jdo2-api-2.3-eb.jar
/json-object-src.zip
/json-object.jar
/json.jar
/jsonrpc.jar
/jsr107cache-1.1.jar
/jsr305.jar
/junit.jar
/mail.jar
/oauth-20090617.jar
/ssj.jar
/wave-model-20100802.jar
/wave-robot-api-20100802-src.jar
/wave-robot-api-20100802.jar
